html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: rgba(223, 224, 228, 1);
  background: rgba(12, 32, 47, 1);
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
a, i {
  color: rgba(223, 224, 228, 1);
  cursor: pointer;
  text-decoration: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

/* Sections */
main > section {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

/* Header */
header {
  width: 100%;
  top: 0;
  position: absolute;
  height: 70px;
  line-height: 70px;
  background-color: rgba(21, 57, 84, 1);
  border-bottom: 1px solid rgba(62, 82, 97, 1);
  z-index: 2000;
}
header > a,
header > i,
header > span {
  display: block;
  top: 0;
  /*left: 0;*/
  height: 70px;
  width: 70px;
  line-height: 70px !important;
  text-align: center;
  position: absolute;
}
header > #left {
  left: 0;
}
header > #title {
  left: 70px;
}
header > #volume {
  right: 70px;
}
header > #settings {
  right: 0;
}

/* Lists or forms */
ul,
main > section > form {
  width: 100%;
  height: 100%;
  padding: 71px 0;
  overflow: auto;
  position: absolute;
}

/* Controls */
footer {
  width: 100%;
  bottom: 0;
  position: absolute;
  height: 75px;
  cursor: pointer;
  background-color: rgba(6, 20, 30, 1);
}
footer > div {
  display: block;
  top: 5px;
  position: absolute;
}
footer > .cover {
  left: 0;
  top: 5px;
  height: 70px;
  width: 70px;
  position: absolute;
}
footer > .titles {
  margin: 0 70px;
  padding: 1em 0 0;
}
footer > .title {
}
footer > .subtitle {
  font-size: 0.8em;
  font-weight: lighter;
  color: rgba(223, 224, 228, 0.7);
}
footer > .play-pause {
  right: 0;
  top: 5px;
  height: 70px;
  width: 70px;
  line-height: 70px !important;
  text-align: center;
  position: absolute;
}
footer > .progress-bar {
  right: 0;
  top: 0;
  height: 5px;
  width: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
}
footer > .progress-bar > div {
  left: 0;
  top: 0;
  height: 5px;
  width: 30%;
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
}
footer .material-icons {
  line-height: 70px;
}

/* List */
ul {
  display: block;
  position: relative;
}
ul > li {
  display: block;
  position: relative;
  height: 70px;
  margin-bottom: 5px;
  width: 100%;
  cursor: pointer;
}
ul > li > .icon {
  left: 10px;
  top: 10px;
  height: 50px;
  width: 50px;
  line-height: 50px !important;
  text-align: center;
  position: absolute;
  border-radius: 50px;
  color: rgba(82, 93, 100, 1);
  background-color: rgba(6, 20, 30, 1);
}
ul > li > .titles {
  margin: 0 70px;
  padding: 1em 0 0;
}
ul > li > .titles > .title {
}
ul > li > .titles > .subtitle {
  font-size: 0.8em;
  font-weight: lighter;
  color: rgba(223, 224, 228, 0.7);
}
ul > li > .action {
  right: 10px;
  top: 10px;
  height: 50px;
  width: 50px;
  line-height: 50px !important;
  text-align: center;
  position: absolute;
}
main > section .material-icons {
  line-height: 70px;
}

/* Menu */
nav {
  display: none;
  width: 100%;
  height: 100%;
  bottom: 0;
  position: absolute;
  z-index: 10000;
}
nav > div {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(19, 23, 27, 0.8);
}
nav > ul {
  width: 100%;
  bottom: 0;
  position: absolute;
  color: rgba(19, 23, 27, 1);
  background: rgba(255, 255, 255, 1);
}
