html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}
header {
  height:50px;
  text-align: right;
}
main {
  flex: 3 1 100%;
}
footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  height:50px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
}
.debugger {
  padding:20px;
}
