html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  overflow: auto;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  background-color: #212121;
}
.player-background {
  /*display: none;*/
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background-image: url(/images/cover.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  /*background-size: cover;*/
  filter: blur(15px);
  opacity: 0.8;
  z-index: 0;
}
header {
  height:50px;
  text-align: right;
  z-index: 100;
}
main {
  flex: 3 1 100%;
  z-index: 100;
}
.library {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.7);
  color: #fff;
  z-index: 100;
}
.library > div {
  padding: 20px;
}
.settings {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.7);
  color: #fff;
  z-index: 100;
}
.settings > div {
  padding: 20px;
}
footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  height:50px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
}
a {
  color: #fff;
}
