html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  overflow: auto;
  color: rgba(223, 224, 228, 1);
  background: rgba(19, 23, 27, 1);
}
a, i {
  color: rgba(223, 224, 228, 1);
  cursor: pointer;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}
.player-background {
  /*display: none;*/
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background-image: url(/images/cover.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  /*background-size: cover;*/
  /*filter: blur(15px);*/
  filter: grayscale(0%);
  opacity: 0.2;
  z-index: 0;
}
.player-background:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: gray;
  filter: grayscale(100%) blur(10px);
}
header {
  /*height: 60px;*/
  text-align: right;
  z-index: 100;
  padding: 15px 20px;
}
main {
  flex: 3 1 100%;
  position: relative;
  z-index: 100;
}
.queue {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 23, 27, 0.7);
  color: #fff;
  z-index: 100;
}
.queue > div {
  padding: 20px;
}
.library {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 23, 27, 0.7);
  color: #fff;
  z-index: 100;
}
.library > div {
  padding: 20px;
}
.settings {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.7);
  color: #fff;
  z-index: 100;
}
.settings > div {
  padding: 20px;
}
footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  /*height:80px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(19, 23, 27, 0.6);
  color: #fff;
  z-index: 1000;
  border-top: 1px solid rgba(19, 23, 27, 1);
  flex-direction: row;
  padding: 10px 0;
}
footer > div:first-child {
  flex: 0 0 100px;
}
footer > div {
  flex: 3 1 auto;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer > div:last-child {
  flex: 0 0 100px;
}
footer .play,
footer .pause
{
  font-size: 3em;
  margin: 0 10px;
}

.track {
  margin: 0 20px;
  /*width: 90%;*/
  height: 90%;
  /*background-color: rgba(255, 255, 255, .01);*/
  /*border: 1px solid rgba(255, 255, 255, .03);*/
}
.cover {
  margin: 0 auto 10px;
  width: 250px;
  height: 250px;

  /*background-image: url(/images/cover.png);*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, .5);

}
.title {
  text-align: center;
  color: rgba(255, 255, 255, .9);
  margin-bottom: 5px;
  /*border: 1px solid rgba(255, 255, 255, .03);*/
}
.album {
  display: none;
  text-align: center;
  color: rgba(255, 255, 255, .7);
  margin-bottom: 5px;
  /*border: 1px solid rgba(255, 255, 255, .03);*/
  font-size: 0.7em;
}
.artist {
  display: none;
  text-align: center;
  color: rgba(255, 255, 255, .7);
  margin-bottom: 5px;
  /*border: 1px solid rgba(255, 255, 255, .03);*/
  font-size: 0.7em;
}




.playhead {
  position: relative;
  /*background-color: rgba(255, 255, 255, .01);*/

  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  font-size: 0.7em;

  display: flex;
  align-items: center;
  justify-content: center;

}
.playhead > div {
  flex: 3 1 auto;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.playhead > .position {
  flex: 0 0 40px;
  /*background-color: red;*/
}
.playhead > .slider {
  flex: 3 1 auto;
  height:100%;
  position: relative;
  padding: 0 10px;
  /*background-color: green;*/
}
.playhead > .slider > .background {
  position: relative;
  height: 6px;
  margin: 0;
  width: 100%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .2);
  /*border: 1px solid rgba(255, 255, 255, .03);*/
}
.playhead > .slider > .background > .foreground {
  height: 6px;
  width: 30%;
  margin: 0;
  position: absolute;
  left: 0;
  /*top: 10px;*/
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .7);
}
.playhead > .slider > .background > .foreground > .head {
  height: 14px;
  width: 14px;
  position: absolute;
  right: -7px;
  top: -4px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
}
.playhead > .length {
  flex: 0 0 40px;
  /*background-color: yellow;*/
}
